cachetools==4.1.1
click==7.1.2
dnspython==2.0.0
docker==4.3.1
docker-pycreds==0.4.0
enum-compat==0.0.3
eventlet==0.29.1
Flask==1.1.2
Flask-HTTPAuth==4.1.0
Flask-SocketIO==4.3.1
greenlet==0.4.17
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
MicroFlack-Common==0.4
PyJWT==1.7.1
python-dotenv==0.15.0
python-engineio==3.13.2
python-etcd==0.4.5
python-socketio==4.6.0
redis==3.5.3
requests==2.24.0
six==1.15.0
urllib3==1.25.11
websocket-client==0.57.0
Werkzeug==1.0.1
